# Aether Hub Configuration
VITE_API_URL=http://localhost:8787/api

# API Ninjas: https://api-ninjas.com/ (For quotes & insights)
NINJA_API_KEY=

# Alpha Vantage: https://www.alphavantage.co/ (For stock data)
ALPHA_VANTAGE_KEY=
